{% extends "layout.html" %}

{% block title %}
    Emotion Tracker
{% endblock %}

{% block main %}

    <!-- FIRST ROW -->
    <div class="container">
        <div class="row align-items-center">

            <!-- TOP QUICK INSIGHTS -->
            <div class="col">

            </div>
            <div class="col">
                <h4> Insert logo here</h4>
                <h1>
                    Ripple is a tool to help you track and understand the ebbs in your emotions. <br>
                </h1>
          
                <br>
                <h3>
                    Record thoughts whenever one flows by to understand how your emotions are changing with time and tide.
                </h3>
            </div>
            <div class="col">

            </div>
           

{% endblock %}
