{% extends "layout.html" %}

{% block title %}
    Emotion Tracker
{% endblock %}

{% block main %}

    <!-- FIRST ROW -->
    <div class="container">
        <div class="row align-items-center">

            <!-- TOP QUICK INSIGHTS -->
            <div class="col">

            </div>
            <div class="col-6">
                <h1>
                    Navigate the complexities of your thoughts and emotion.  <br>
                </h1>
                <br>
                <h4>
                    Ripple is a journaling tool that uses ML to track, analyze, and help you understand your emotional dynamics. Record thoughts whenvever one floats by to understand how your emotions are changing with time and tide.
                </h4>
            </div>
            <div class="col">

            </div>
        </div>
        
    </div>
           

{% endblock %}
