{% extends "layout.html" %}

{% block title %}
    Emotion Tracker 
{% endblock %}

{% block main %}
    <br>
    <br>
    <h1>How were you feeling?</h1>
    <br>
    <br>
    <!-- Include the D3.js library -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7/+esm" type="module"></script>
    <script type = "module" src = "/static/stackedd3.js"></script>

    <!-- <script type="text/javascript">
        var rawEmotions = {{ emotion_data_json | safe }};
    </script> -->

    <!-- FIRST ROW -->
    <div class="container">
        <div class="row align-items-start">

            <!-- TOP QUICK INSIGHTS -->
            <div class="col">

                <h3>Today's Top Emotions</h3><br>
                {% for emotion, score in top_today_emotions %}
                    <h5>{{ emotion }}: {{ '%.2f' | format(score * 100) }}</h5>
                {% endfor %}
                <br>

                <h3>This Week's Top Emotions</h3><br>
                {% for emotion, score in top_week_emotions %}
                    <h5>
                        {{ emotion }}: {{ '%.2f' | format(score * 100) }}%
                        {% if emotion in percent_changes %}
                                {% if percent_changes[emotion] > 0 %}↑{% elif percent_changes[emotion] < 0 %}↓{% else %}→{% endif %}
                        {% endif %}
                    </h5>
                {% endfor %}
               
                <br>

                <h3>Overall Top Emotions</h3><br>
                {% for emotion, score in top_overall_emotions %}
                    <h5>{{ emotion }}: {{ '%.2f' | format(score * 100) }}</h5>
                {% endfor %}
                <br>
            </div>

            <!-- TRENDS OVER TIME -->
            <div class="col-6" >
                <h3>Trends!</h3>
                    <h5>The following emotions are ordered according to: <br></h5>
                    <p style="text-align: justify;">
                        [Positive Affect (From High to Low Arousal):Excitement, Amusement, Joy, Optimism, Love, Caring, Gratitude, Relief]
                        [Neutral:Curiosity, Surprise, Desire, Confusion, Realization, Approval, Admiration, Pride]
                        [Negative Affect (From Low to High Arousal): Disgust, Sadness, Grief, Disappointment, Remorse, Embarrassment, Fear, Nervousness, Annoyance, Anger]
                    </p>
<!-- 
                Emotional fluctuations:
                <img src="data:image/png;base64,{{ stacked_plot_url }}" alt="Heatmap" style=" padding: 20px" class="img-fluid"> -->

                <!-- HTML to display the heatmap -->
                {% for url in heatmap_plot_urls %}
                    <img src="data:image/png;base64,{{ url }}" alt="Heatmap" style=" padding: 20px" class="img-fluid">
                    <br>
                    <br>
                {% endfor %}

            
            </div>
            <div class="col">
                <!-- frequently used words -->
                <h3>Your most frequently used words</h3><br>
                {% for words in frequent_words %}
                    <h5>{{ words[0] }} x {{ words[1] }} </h5>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- Container for the chart -->
    <div id="chart-container"></div>

    
{% endblock %}
